---
import Layout from '../layouts/Layout.astro';
import { Potatoe } from '../components/Potatoe';
import { db, Potatoes } from 'astro:db';

const potatoes = await db.select().from(Potatoes);
---

<Layout title="Potatoes">
  <main>
    <h1 class="my-4 text-center text-xl">Poteter</h1>
    {
      potatoes.map(
        ({ potatId, name, andersRating, linnRating, infoLink, comment }) => (
          <Potatoe
            potatoId={potatId}
            name={name}
            andersInitialRating={andersRating}
            linnInitialRating={linnRating}
            infoLink={infoLink}
            initialComment={comment}
            client:only="react"
          />
        ),
      )
    }
  </main>
</Layout>
